.preloader
  p.preloader__text
    |Lorem ipsum, dolor sit amet consectetur adipisicing elit.
    | Necessitatibus qui perspiciatis delectus animi alias eligendi, 
    |ipsum molestiae cum non porro impedit! Officiis et error laboriosam atque quidem a sed odit!

  .preloader__number
    .preloader__number__text 0%


//- !=preloader.data.title.replace(/\n/g, '<br>')