.about {
    @extend %page;
    width: 100%;
    height: 100%;
    background: $color-cadet-blue;
    color: $color-bright-gray;
}

.about__wrapper {
    width: 100%;
    min-height: 100%;
    background-color: inherit;
}

.about__title {
    margin: auto;
    max-width: 128rem;
    text-align: center;
    @extend %title-110;

    @include media('<phone') {
        max-width: 67.7rem;
    }
}
