.detail {
  // @extend %cover;
  @extend %page;
  @extend %center;
  background-color: $color-quicksand;
  color: $color-white;
  flex-direction: column;
}
.detail_wrapper {
  align-items: center;
  display: flex;
}
.detail_media {
  height: 74.2rem;
  position: relative;
  width: 53.4rem;
}
.detail_media_image {
  @extend %cover;
  object-fit: cover;
}
.detail_information {
  height: 100%;
  padding-left: 8rem;
}

.detail_information_collection {
  @extend %description-12;
  text-transform: uppercase;
  margin-bottom: 4rem;
}
.detail_information_title {
  @extend %title-120;
  max-width: 50rem;
}

.detail_information_content {
  padding-left: 18rem;
}
.detail_information_highlights {
  @extend %description-16;
  margin-top: 6rem;
}

.detail_information_highlight {
  align-items: center;
  display: flex;
  &:not(:first-child) {
    margin-top: 4rem;
  }
}
.detail_information_highlight_icon {
  border: 1px solid currentColor;
  height: 5rem;
  width: 5rem;
  border-radius: 10rem;
  margin-right: 4rem;
}

.detail_information_highlight_text {
}

.detail_information_list {
  margin-top: 4rem;
}

.detail_information-item {
  display: flex;

  &:not(:first-child) {
    margin-top: 4rem;
  }
}

.detail_information_item_title {
  @extend %title-12;
  width: 10rem;
  padding-right: 1rem;
}

.detail_information_item_description {
  max-width: 44rem;
}

.detail_information_link {
  @extend %title-30;
  display: inline-block;
}

.detail_button {
  width: 12rem;
  height: 7rem;
  display: flex;
  justify-content: center;
  position: relative;
  // transform: translateX(-55%);
  align-items: center;
  font-size: 2rem;
  z-index: 2;
}

.detail_button_icon {
  @extend %cover;
}
