.preloader {
    @extend %cover;
    @extend %center;
    position: fixed;
    flex-direction: column;
    background-color: $color-contessa;
    color: $color-quarter-spanish-white;
    z-index: z('preloader');
    // display: none;
}

.preloader__text {
    max-width: 74rem;
    text-align: center;
    line-height: 1;
    word-spacing: 0.3rem;
    font-size: 0;

    // set the split span to inline block so they can be translated
    span {
        display: inline-block;
        overflow: hidden;
    }

    span span {
        @extend %title-53;
    }
}

.preloader__number {
    position: absolute;
    bottom: 7.3rem;
    overflow: hidden;
    transform: translate(-50%, -50%);
    @extend %description-14;

    @include media('<phone') {
        font-size: 2.4rem;
    }
}

.preloader__number__text {
    display: inline-block;
}
