.preloader {
  @extend %cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: $color-contessa;
  color: $color-quarter-spanish-white;
  z-index: z('preloader');
}
.preloader_text {
  //
  max-width: 66rem;
  text-align: center;
  span {
    display: inline-block;
    overflow: hidden;
  }

  span span {
    @extend %title-53;
  }
}

.preloader_number {
  position: absolute;
  bottom: 7.3rem;
  overflow: hidden;
  transform: translate(-50%, -50%);
  @extend %description-14;
}

.preloader_number_text {
  display: inline-block;
}
