// .collections {
//     overflow: hidden;
//     @extend %page;
//     background-color: $color-quicksand;
//     color: $color-quarter-spanish-white;
// }
// .collections__wrapper {
//     @extend %cover;
// }
// .collections__titles {
//     @extend %vertical-titles;
// }

// .collections__titles__label {
//     @extend %vertical-titles__label;
// }
// .collections__titles__title {
//     @extend %title-200;
// }

// .collections__gallery {
//     @extend %cover;
//     border: 1px solid red;
// }
// .collections__gallery__wrapper {
//     align-items: center;
//     display: flex;
//     top: 45%;
//     position: absolute;
//     transform: translateY(-50%);
// }

// .collections__gallery__link {
//     display: block;
//     margin: 0 4.3rem;
// }
// .collection__gallery__media {
//     height: 55rem;
//     width: 44.7rem;
//     position: relative;
// }
// .collections__gallery__media__image {
//     @extend %cover;
//     object-fit: cover;
// }

// .collections__content {
//     @extend %cover;
// }

// .collections__article {
//     bottom: 3rem;
//     position: absolute;
//     left: 8rem;
//     opacity: 0;

//     &--active {
//         opacity: 1;
//     }
// }
// .collections__article__title {
//     @extend %title-60;
// }

// .collections__article__description {
//     @extend %description-16;
//     max-width: 44rem;
//     text-align: justify;
//     margin-bottom: 1.5rem;
// }

.collections {
    overflow: hidden;
    @extend %page;
    // background-color: $color-quicksand;
    // color: $color-quarter-spanish-white;
}
.collections__wrapper {
    @extend %cover;
}
.collections__titles {
    @extend %vertical-titles;
}

.collections__titles__label {
    @extend %vertical-titles__label;
}
.collections__titles__title {
    @extend %title-200;
}

.collections__gallery {
    @extend %cover;
}
.collections__gallery__wrapper {
    align-items: center;
    display: flex;
    top: 45%;
    position: absolute;
    transform: translateY(-50%);
}

.collections__gallery__link {
    display: block;
    margin: 0 4.3rem;
}
.collection__gallery__media {
    height: 55rem;
    width: 44.7rem;
    position: relative;
}
.collections__gallery__media__image {
    @extend %cover;
    object-fit: cover;
}

.collections__content {
    @extend %cover;
}

.collections__article {
    bottom: 3rem;
    position: absolute;
    left: 8rem;
    opacity: 0;

    &--active {
        opacity: 1;
    }
}
.collections__article__title {
    @extend %title-60;
}

.collections__article__description {
    @extend %description-16;
    max-width: 44rem;
    text-align: justify;
    margin-bottom: 1.5rem;
}
