.home {
  @extend %center;
  @extend %cover;
  background-color: $color-contessa;
  color: $color-quarter-spanish-white;
  text-align: center;
}
.home_wrapper {
}
.home_titles {
  @extend %vertical-titles;
}
.home_titles_label {
  @extend %vertical-titles__label;
}
.home_titles_title {
  @extend %vertical-titles__title;
}
.home_gallery {
  @extend %cover;
}
.home_gallery_media {
  position: absolute;
}
.home_gallery_media_image {
}
.home_Link {
}
